<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- IE -->
<link rel="shortcut icon" type="image/x-icon" href=""http://www.maythirtysecond.com/maythirtysecond.ico">
<!-- other browsers -->
<link rel="icon" type="image/x-icon" href=""http://www.maythirtysecond.com/maythirtysecond.ico" />
<link href="http://www.maythirtysecond.com/style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Nobile:400,700' rel='stylesheet' type='text/css'>=
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>May 32nd</title>
</head>
<body>
	<div id="background">
		<img style="width:100%; height:100%;" src="http://www.maythirtysecond.com/anim_sen.gif" />
	</div>
	<div id="headline" style="font-family: &#39;Nobile&#39;, sans-serif;"> 
	<h1>UNDER CONSTRUCTION</h1>
	</div>
	<div id="email">
		<a href="mailto:contact@maythirtysecond.com">Contact Us</a>
	</div>
</body>
